{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}

<div style="text-align: center">Points Machine Pair 2/{{Constants.num_problemsets}}</div>
<div style="text-align: center">Sampling Stage</div>

{% endblock %}

{% block content %}
<style>
div {
    text-align: left
}
</style>


<div class="instructions well well-lg"  style="position:absolute; top:200px;width: 900px; ">

    <p>In this stage, you can sample the points machines by clicking on them as often as you like.</p>
    <p>
       When you are ready to make a binding choice, go to the decision stage by clicking on the “Make Decision” button.

        <button class="otree-next-button btn btn-primary next-button" disabled="true" id="makedecision" style="position:absolute; top: 35px; margin-left:30px" >Make Decision</button>
    </p>
</div>

<div style="
      position: absolute;
    margin-left:100px;
    top:325px;
    width:300px;
    text-align: center
    ">
    <p>
       Points Machine A
    </p>
</div>
<div style="
  position: absolute;
    margin-left:420px;
    top:325px;
    width:300px;
    text-align: center
    ">
    <p>
       Points Machine B
    </p>
</div>

<div><button class="mm2as" type="button" id="mm2as"
            style="background-color: {{ Constants.mmacolor }};text-align: left;position: absolute; top:350px; height: 100px; width: 300px; font-size: 15px; margin-left:100px">
    <p id="pc1" style="line-height: 70%;">
    <p style="text-indent: 160px;line-height: 70%; ">{{ amounta2 }}
    <p id="linea" style="text-indent: 160px;  visibility: hidden;line-height: 70%; ">0
    </button>
    <button class="mm2bs" type="button" id="mm2bs"
            style="background-color: {{ Constants.mmbcolor }}; text-align: left;position: absolute; top:350px; height: 100px; width: 300px; font-size: 15px; margin-left:420px">
        <p id="pc2" style="line-height: 70%;">
        <p style="text-indent: 160px;line-height: 70%; ">{{ amountb2 }}
    <p id="lineb" style="text-indent: 160px; visibility: hidden; line-height: 70%; ">0
    </button>
    <p>


    </p>
</div>

<div class="container1" style="border: hidden;
    position:absolute;
    top:450px;
    width: 280px;
    margin-left: 100px;
    height: 500px;
    padding: 10px;
    display:inline-block;">
    <p>
        {{ player.text2a }}
    </p>

        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>
        <button  class="toAdd">{{player.sa2}}</button>

</div>

<div class="container2" style="border: hidden;
    position:absolute;
    margin-left: 420px;
    top:450px;
    width: 280px;
    height: 500px;
    padding: 10px;
    display:inline-block;">
    <p>
        {{ player.text2b }}
    </p>


        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>
        <button class="toAdd2">{{player.sb2}}</button>







</div>

<p class="warning" style="margin-left: 100px;display: none;">Warning: you are about to reach the maximum amount of sample draws of 100. </p>
<p>
    <input id="id_clicksmmb2" name="clicksmmb2" type="hidden" value="0"></input>
    <input id="id_clicksmma2" name="clicksmma2" type="hidden" value="0"></input>
    <input id="id_samplemma2" name="samplemma2" type="hidden" value="0"></input>
    <input id="id_samplemmb2" name="samplemmb2" type="hidden" value="0"></input>
</p>




{% endblock %}


{% block styles %}
<!-- define a style -->
<style type="text/css">
.toAdd {
    display:inline-block;
    background-color: white;
    width: 45px;
    padding: 0.1px;
    margin: 1px;
    font-size: 10px;
    text-align: center;
    display: none;
     pointer-events: none;
}
.toAdd2 {
    display:inline-block;
    background-color: white;
    width: 45px;
    padding: 0.1px;
    margin: 1px;
    font-size: 10px;
    text-align: center;
    display: none;
     pointer-events: none;
}
</style>

{% endblock %}

{% block scripts %}
<script src="{% static "Confidence_study1a_ss/jquery-3.2.1.js" %}"></script>
<script>

var bo2 = {{ bo2|json }};
var bo2str = bo2.toString();
var probb = {{ probb2|json }};
var proba = {{ proba2|json }};

$('.toAdd').hide();
$('.toAdd2').hide();

var count = 0;
$('.mm2as').on('click',function(){
    $('.toAdd:eq('+count+')').show(1500);
    count++;
    hello();
    delay();
    if (count > 95) {
    $('.warning').show();
    };
    if (probb == 1 ) {
    document.getElementById("makedecision").disabled = false;
    }
});

var countb = 0;
$('.mm2bs').on('click',function(){
    $('.toAdd2:eq('+countb+')').show(1500);
    countb++;
    hellob();
    delay();
    if (countb > 95) {
    $('.warning').show();
    };
    if (proba == 1 ) {
    document.getElementById("makedecision").disabled = false;
    }
});


function delay(){
    document.getElementById("mm2as").disabled = true;
    document.getElementById("mm2bs").disabled = true;
    setTimeout(function() {
        document.getElementById("mm2as").disabled = false;
        document.getElementById("mm2bs").disabled = false;
    }, 1500);

}

   var clicks = 0;
    function hello() {
        clicks += 1;
        document.getElementById("id_clicksmma2").innerHTML = clicks;
        document.getElementById("id_clicksmma2").value = clicks;
    };


   var clicksb = 0;
    function hellob() {
        clicksb += 1;
        document.getElementById("id_clicksmmb2").innerHTML = clicksb;
        document.getElementById("id_clicksmmb2").value = clicksb;
    };


var tbl = document.getElementsByClassName("toAdd");
var i = 0;
var len = tbl.length;
var text = [];
    for(var i=0; i<len; i++) {
        text.push(tbl[i].innerHTML);
    };
    document.getElementById("id_samplemma2").innerHTML = text;
    document.getElementById("id_samplemma2").value = text;


var tblb = document.getElementsByClassName("toAdd2");
var j = 0;
var lenb = tblb.length;
var textb = [];
    for(var j=0; j<lenb; j++) {
        textb.push(tblb[j].innerHTML);
    };
    document.getElementById("id_samplemmb2").innerHTML = textb;
    document.getElementById("id_samplemmb2").value = textb;



var samplea = document.getElementsByClassName('toAdd');
var i = 0;
    for(var i=0; i<samplea.length; i++) {
       if (samplea[i].innerHTML == bo2 || samplea[i].innerHTML < -0.5) {
           samplea[i].style.backgroundColor = "lightblue";
        } else {
           samplea[i].style.backgroundColor = "white";
    }
    };

var sampleb = document.getElementsByClassName('toAdd2');
var i = 0;
    for(var i=0; i<sampleb.length; i++) {
       if (sampleb[i].innerHTML == bo2 || sampleb[i].innerHTML < -0.5) {
           sampleb[i].style.backgroundColor = "orange";
        } else {
           sampleb[i].style.backgroundColor = "white";
    }
    };

var linea = document.getElementById("linea");
var lineb = document.getElementById("lineb");
var pc1 = document.getElementById("pc1");
var pc2 = document.getElementById("pc2");
if (probb == 1) {
   linea.style.visibility = "visible";
   pc1.innerHTML = "Possible outcomes:";
   pc2.innerHTML = "Possible outcome:";
   } else {
   lineb.style.visibility = "visible";
   pc2.innerHTML = "Possible outcomes:";
   pc1.innerHTML = "Possible outcome:";
    }

</script>


{% endblock %}