{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}

<div style="text-align: center">Points Machine Pair 7/{{Constants.num_problemsets}}</div>
<div style="text-align: center">Decision Stage</div>

{% endblock %}

{% block content %}
<style>
div {
    text-align: left
}
</style>


<div class="instructions well well-lg"  style="position:absolute; top:200px;width: 900px; ">

    <p>
        Please make a binding choice by clicking on your preferred points machine.
    </p>
</div>

<div style="
    position: absolute;
    margin-left:100px;
    top:320px;
    width:300px;
    text-align: center
    ">
    <p>
       Points Machine A
    </p>
</div>
<div style="
    position: absolute;
    margin-left:420px;
    top:320px;
    width:300px;
    text-align: center
    ">
    <p>
       Points Machine B
    </p>
</div>

<div><button name="mm7" value="True"
            style="outline: grey solid 5px; text-align: left;
            background-color: {{ Constants.mmacolor }}; position: absolute;
            top:350px; height: 100px; width: 300px; font-size: 15px; margin-left:100px">
        <p id="pc1" style="line-height: 70%;">
    <p style="text-indent: 160px;line-height: 70%; ">{{ amounta7 }}
    <p id="linea" style="text-indent: 160px;  visibility: hidden;line-height: 70%; "> 0
    </button>
    <button name="mm7" value="False"
            style="outline: grey solid 5px; text-align: left; background-color: {{ Constants.mmbcolor }}; position: absolute; top:350px; height: 100px; width: 300px; font-size: 15px; margin-left:420px">
        <p id="pc2" style="line-height: 70%;">
        <p style="text-indent: 160px;line-height: 70%; ">{{ amountb7 }}
    <p id="lineb" style="text-indent: 160px; visibility: hidden; line-height: 70%; "> 0
    </button>
    <p>


    </p>
</div>

<div class="container1" style="border: hidden;
    top:450px;
    position:absolute;
    width: 280px;
    margin-left: 100px;
    height: 500px;
    padding: 10px;
    display:inline-block;">
    <p>
        {{ player.shorttext7a }}
    </p>


        <button  class="toAdd" id="a1s1"></button>
        <button  class="toAdd" id="a1s2"></button>
        <button  class="toAdd" id="a1s3"></button>
        <button  class="toAdd" id="a1s4"></button>
        <button  class="toAdd" id="a1s5"></button>
        <button  class="toAdd" id="a1s6"></button>
        <button  class="toAdd" id="a1s7"></button>
        <button  class="toAdd" id="a1s8"></button>
        <button  class="toAdd" id="a1s9"></button>
        <button  class="toAdd" id="a1s10"></button>
        <button  class="toAdd" id="a1s11"></button>
        <button  class="toAdd" id="a1s12"></button>
        <button  class="toAdd" id="a1s13"></button>
        <button  class="toAdd" id="a1s14"></button>
        <button  class="toAdd" id="a1s15"></button>
        <button  class="toAdd" id="a1s16"></button>
        <button  class="toAdd" id="a1s17"></button>
        <button  class="toAdd" id="a1s18"></button>
        <button  class="toAdd" id="a1s19"></button>
        <button  class="toAdd" id="a1s20"></button>
        <button  class="toAdd" id="a1s21"></button>
        <button  class="toAdd" id="a1s22"></button>
        <button  class="toAdd" id="a1s23"></button>
        <button  class="toAdd" id="a1s24"></button>
        <button  class="toAdd" id="a1s25"></button>
        <button  class="toAdd" id="a1s26"></button>
        <button  class="toAdd" id="a1s27"></button>
        <button  class="toAdd" id="a1s28"></button>
        <button  class="toAdd" id="a1s29"></button>
        <button  class="toAdd" id="a1s30"></button>
        <button  class="toAdd" id="a1s31"></button>
        <button  class="toAdd" id="a1s32"></button>
        <button  class="toAdd" id="a1s33"></button>
        <button  class="toAdd" id="a1s34"></button>
        <button  class="toAdd" id="a1s35"></button>
        <button  class="toAdd" id="a1s36"></button>
        <button  class="toAdd" id="a1s37"></button>
        <button  class="toAdd" id="a1s38"></button>
        <button  class="toAdd" id="a1s39"></button>
        <button  class="toAdd" id="a1s40"></button>
        <button  class="toAdd" id="a1s41"></button>
        <button  class="toAdd" id="a1s42"></button>
        <button  class="toAdd" id="a1s43"></button>
        <button  class="toAdd" id="a1s44"></button>
        <button  class="toAdd" id="a1s45"></button>
        <button  class="toAdd" id="a1s46"></button>
        <button  class="toAdd" id="a1s47"></button>
        <button  class="toAdd" id="a1s48"></button>
        <button  class="toAdd" id="a1s49"></button>
        <button  class="toAdd" id="a1s50"></button>
             <button  class="toAdd" id="a1s51"></button>
        <button  class="toAdd" id="a1s52"></button>
        <button  class="toAdd" id="a1s53"></button>
        <button  class="toAdd" id="a1s54"></button>
        <button  class="toAdd" id="a1s55"></button>
        <button  class="toAdd" id="a1s56"></button>
        <button  class="toAdd" id="a1s57"></button>
        <button  class="toAdd" id="a1s58"></button>
        <button  class="toAdd" id="a1s59"></button>
        <button  class="toAdd" id="a1s60"></button>
        <button  class="toAdd" id="a1s61"></button>
        <button  class="toAdd" id="a1s62"></button>
        <button  class="toAdd" id="a1s63"></button>
        <button  class="toAdd" id="a1s64"></button>
        <button  class="toAdd" id="a1s65"></button>
        <button  class="toAdd" id="a1s66"></button>
        <button  class="toAdd" id="a1s67"></button>
        <button  class="toAdd" id="a1s68"></button>
        <button  class="toAdd" id="a1s69"></button>
        <button  class="toAdd" id="a1s70"></button>
        <button  class="toAdd" id="a1s71"></button>
        <button  class="toAdd" id="a1s72"></button>
        <button  class="toAdd" id="a1s73"></button>
        <button  class="toAdd" id="a1s74"></button>
        <button  class="toAdd" id="a1s75"></button>
        <button  class="toAdd" id="a1s76"></button>
        <button  class="toAdd" id="a1s77"></button>
        <button  class="toAdd" id="a1s78"></button>
        <button  class="toAdd" id="a1s79"></button>
        <button  class="toAdd" id="a1s80"></button>
        <button  class="toAdd" id="a1s81"></button>
        <button  class="toAdd" id="a1s82"></button>
        <button  class="toAdd" id="a1s83"></button>
        <button  class="toAdd" id="a1s84"></button>
        <button  class="toAdd" id="a1s85"></button>
        <button  class="toAdd" id="a1s86"></button>
        <button  class="toAdd" id="a1s87"></button>
        <button  class="toAdd" id="a1s88"></button>
        <button  class="toAdd" id="a1s89"></button>
        <button  class="toAdd" id="a1s90"></button>
        <button  class="toAdd" id="a1s91"></button>
        <button  class="toAdd" id="a1s92"></button>
        <button  class="toAdd" id="a1s93"></button>
        <button  class="toAdd" id="a1s94"></button>
        <button  class="toAdd" id="a1s95"></button>
        <button  class="toAdd" id="a1s96"></button>
        <button  class="toAdd" id="a1s97"></button>
        <button  class="toAdd" id="a1s98"></button>
        <button  class="toAdd" id="a1s99"></button>
        <button  class="toAdd" id="a1s100"></button>



</div>

<div class="container2" style="border: hidden;
    position:absolute;
    top:450px;
    width: 280px;
    height: 500px;
    margin-left: 420px;
    padding: 10px;
    display:inline-block">
    <p>
        {{ player.shorttext7b }}
    </p>


        <button class="toAdd2" id="b1s1"></button>
        <button class="toAdd2" id="b1s2"></button>
        <button class="toAdd2" id="b1s3"></button>
        <button class="toAdd2" id="b1s4"></button>
        <button class="toAdd2" id="b1s5"></button>
        <button class="toAdd2" id="b1s6"></button>
        <button class="toAdd2" id="b1s7"></button>
        <button class="toAdd2" id="b1s8"></button>
        <button class="toAdd2" id="b1s9"></button>
        <button class="toAdd2" id="b1s10"></button>
        <button class="toAdd2" id="b1s11"></button>
        <button class="toAdd2" id="b1s12"></button>
        <button class="toAdd2" id="b1s13"></button>
        <button class="toAdd2" id="b1s14"></button>
        <button class="toAdd2" id="b1s15"></button>
        <button class="toAdd2" id="b1s16"></button>
        <button class="toAdd2" id="b1s17"></button>
        <button class="toAdd2" id="b1s18"></button>
        <button class="toAdd2" id="b1s19"></button>
        <button class="toAdd2" id="b1s20"></button>
        <button class="toAdd2" id="b1s21"></button>
        <button class="toAdd2" id="b1s22"></button>
        <button class="toAdd2" id="b1s23"></button>
        <button class="toAdd2" id="b1s24"></button>
        <button class="toAdd2" id="b1s25"></button>
        <button class="toAdd2" id="b1s26"></button>
        <button class="toAdd2" id="b1s27"></button>
        <button class="toAdd2" id="b1s28"></button>
        <button class="toAdd2" id="b1s29"></button>
        <button class="toAdd2" id="b1s30"></button>
        <button class="toAdd2" id="b1s31"></button>
        <button class="toAdd2" id="b1s32"></button>
        <button class="toAdd2" id="b1s33"></button>
        <button class="toAdd2" id="b1s34"></button>
        <button class="toAdd2" id="b1s35"></button>
        <button class="toAdd2" id="b1s36"></button>
        <button class="toAdd2" id="b1s37"></button>
        <button class="toAdd2" id="b1s38"></button>
        <button class="toAdd2" id="b1s39"></button>
        <button class="toAdd2" id="b1s40"></button>
        <button class="toAdd2" id="b1s41"></button>
        <button class="toAdd2" id="b1s42"></button>
        <button class="toAdd2" id="b1s43"></button>
        <button class="toAdd2" id="b1s44"></button>
        <button class="toAdd2" id="b1s45"></button>
        <button class="toAdd2" id="b1s46"></button>
        <button class="toAdd2" id="b1s47"></button>
        <button class="toAdd2" id="b1s48"></button>
        <button class="toAdd2" id="b1s49"></button>
        <button class="toAdd2" id="b1s50"></button>
        <button class="toAdd2" id="b1s51"></button>
        <button class="toAdd2" id="b1s52"></button>
        <button class="toAdd2" id="b1s53"></button>
        <button class="toAdd2" id="b1s54"></button>
        <button class="toAdd2" id="b1s55"></button>
        <button class="toAdd2" id="b1s56"></button>
        <button class="toAdd2" id="b1s57"></button>
        <button class="toAdd2" id="b1s58"></button>
        <button class="toAdd2" id="b1s59"></button>
        <button class="toAdd2" id="b1s60"></button>
        <button class="toAdd2" id="b1s61"></button>
        <button class="toAdd2" id="b1s62"></button>
        <button class="toAdd2" id="b1s63"></button>
        <button class="toAdd2" id="b1s64"></button>
        <button class="toAdd2" id="b1s65"></button>
        <button class="toAdd2" id="b1s66"></button>
        <button class="toAdd2" id="b1s67"></button>
        <button class="toAdd2" id="b1s68"></button>
        <button class="toAdd2" id="b1s69"></button>
        <button class="toAdd2" id="b1s70"></button>
        <button class="toAdd2" id="b1s71"></button>
        <button class="toAdd2" id="b1s72"></button>
        <button class="toAdd2" id="b1s73"></button>
        <button class="toAdd2" id="b1s74"></button>
        <button class="toAdd2" id="b1s75"></button>
        <button class="toAdd2" id="b1s76"></button>
        <button class="toAdd2" id="b1s77"></button>
        <button class="toAdd2" id="b1s78"></button>
        <button class="toAdd2" id="b1s79"></button>
        <button class="toAdd2" id="b1s80"></button>
        <button class="toAdd2" id="b1s81"></button>
        <button class="toAdd2" id="b1s82"></button>
        <button class="toAdd2" id="b1s83"></button>
        <button class="toAdd2" id="b1s84"></button>
        <button class="toAdd2" id="b1s85"></button>
        <button class="toAdd2" id="b1s86"></button>
        <button class="toAdd2" id="b1s87"></button>
        <button class="toAdd2" id="b1s88"></button>
        <button class="toAdd2" id="b1s89"></button>
        <button class="toAdd2" id="b1s90"></button>
        <button class="toAdd2" id="b1s91"></button>
        <button class="toAdd2" id="b1s92"></button>
        <button class="toAdd2" id="b1s93"></button>
        <button class="toAdd2" id="b1s94"></button>
        <button class="toAdd2" id="b1s95"></button>
        <button class="toAdd2" id="b1s96"></button>
        <button class="toAdd2" id="b1s97"></button>
        <button class="toAdd2" id="b1s98"></button>
        <button class="toAdd2" id="b1s99"></button>
        <button class="toAdd2" id="b1s100"></button>


</div>



{% endblock %}


{% block styles %}
<!-- define a style -->
<style type="text/css">
.toAdd {
    display:inline-block;
    background-color: white;
    width: 45px;
    padding: 0.1px;
    margin: 1px;
    font-size: 10px;
    text-align: center;
    pointer-events: none;
}
.toAdd2 {
    display:inline-block;
    background-color: white;
    width: 45px;
    padding: 0.1px;
    margin: 1px;
    font-size: 10px;
    text-align: center;
    pointer-events: none;
}
</style>

{% endblock %}

{% block scripts %}
<script src="{% static "Confidence_study1a_ss/jquery-3.2.1.js" %}"></script>
<script>

var samplea4str = {{ samplea7|json }};
var samplea4 = samplea4str.split(",");
var sampleb4str = {{ sampleb7|json }};
var sampleb4 = sampleb4str.split(",");
var num_samplea4 = {{ num_samplea7|json }};
var num_sampleb4 = {{ num_sampleb7|json }};
var bo7 = {{ bo7|json }};
var bo7str = bo7.toString();
var probb = {{ probb7|json }};

for(var i = 0; i < samplea4.length; i++){
    document.getElementById("a1s" + (i+1)).innerHTML = samplea4[i];
}

for(var i = 0; i < sampleb4.length; i++){
    document.getElementById("b1s" + (i+1)).innerHTML = sampleb4[i];
}



var showsamplea = document.getElementsByClassName('toAdd');
var i = num_samplea4;
for (var i; i < showsamplea.length; i++) {
    showsamplea[i].style.display = 'none';
}


var showsampleb = document.getElementsByClassName('toAdd2');
var j = num_sampleb4;
for (var j; j < showsampleb.length; j++) {
    showsampleb[j].style.display = 'none';
}



var samplea = document.getElementsByClassName('toAdd');
var i = 0;
    for(var i=0; i<samplea.length; i++) {
       if (samplea[i].innerHTML == bo7 || samplea[i].innerHTML < -0.5) {
           samplea[i].style.backgroundColor = "lightblue";
        } else {
           samplea[i].style.backgroundColor = "white";
    }
    };

var sampleb = document.getElementsByClassName('toAdd2');
var i = 0;
    for(var i=0; i<sampleb.length; i++) {
       if (sampleb[i].innerHTML == bo7 || sampleb[i].innerHTML < -0.5) {
           sampleb[i].style.backgroundColor = "orange";
        } else {
           sampleb[i].style.backgroundColor = "white";
    }
    };

var linea = document.getElementById("linea");
var lineb = document.getElementById("lineb");
var pc1 = document.getElementById("pc1");
var pc2 = document.getElementById("pc2");
if (probb == 1) {
   linea.style.visibility = "visible";
   pc1.innerHTML = "Possible outcomes:";
   pc2.innerHTML = "Possible outcome:";
   } else {
   lineb.style.visibility = "visible";
   pc2.innerHTML = "Possible outcomes:";
   pc1.innerHTML = "Possible outcome:";
    }


</script>


{% endblock %}