{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}

<div style="text-align: center">Instructions</div>


{% endblock %}

{% block content %}
<div class="instructions well well-lg" style="position:absolute; top:150px;width: 900px; ">

    <p>
        In this experiment you are asked to choose between two money machines. Your bonus depends on your choices.
        Each money machine's possible outcomes are clearly stated, as shown in the example below. They can be positive as well as negative.
        Sometimes they are certain, and at other times the probabilities of the outcomes are unknown.

    </p>
    <p>
        For each money machine pair you will have a “Sampling Stage” and “Decision Stage”.
        In the “Sampling Stage”, you can try out the money machines as many times as you like by clicking on them.
        Money machines can be sampled infinitely without changing the underlying outcome probabilities.
        The "Sampling Stage" has no payoff implications.
    </p>
    <p>
        An example pair of money machines is shown below. You can sample by clicking on the machines.
    </p>

</div>
    <div style="
    position: absolute;
    margin-left:150px;
    top:410px;
    width:300px;
    text-align: center
    ">
    <p>
       Money Machine A
    </p>
</div>
<div style="
    position: absolute;
    margin-left:470px;
    top:410px;
    width:300px;
    text-align: center
    ">
    <p>
       Money Machine B
    </p>
</div>

<div><button type="button" id="mma" class="mma" style="text-align: left; background-color: {{ Constants.mmacolor }};
position: absolute; top:440px; height: 100px; width: 300px; font-size: 15px; margin-left:150px">
        <p id="pc2" style="line-height: 70%;"> Possible outcomes:
        <p align="right" style="margin-right:100px;line-height: 70%; ">80¢
    <p id="lineb" align="right" style="margin-right:100px; line-height: 70%; "> 0¢
    </button>
    <button type="button" id="mmb" class="mmb"
            style="background-color: {{ Constants.mmbcolor }};     position: absolute;
    margin-left:470px; text-align: left;
    top:440px; height: 100px; width: 300px;font-size: 15px">
                <p id="pc2" style="line-height: 70%;"> Possible outcome:
        <p align="right" style="margin-right:100px;line-height: 70%; ">50¢
    <p id="lineb" align="right" style="margin-right:100px; visibility: hidden; line-height: 70%; "> 0¢
    </button>
</div>
<p>



</p>

<div class="container1" style="border: hidden;
    position:absolute;
    width: 280px;
    margin-left: 150px;
    top: 540px;
    height: 150px;
    padding: 10px;
    display:inline-block;">
    <p>
        Here you see different sample outcomes for Money Machine A.
    </p>
        <button class="toAdd">0¢</button>
        <button class="toAdd">0¢</button>
        <button class="toAdd">80¢</button>
        <button  class="toAdd">80¢</button>
        <button  class="toAdd">80¢</button>
        <button  class="toAdd">80¢</button>
        <button  class="toAdd">80¢</button>
        <button  class="toAdd">0¢</button>
        <button  class="toAdd">80¢</button>
        <button  class="toAdd">0¢</button>
        <button  class="toAdd">0¢</button>
        <button  class="toAdd">80¢</button>
        <button  class="toAdd">80¢</button>
        <button  class="toAdd">80¢</button>
        <button  class="toAdd">80¢</button>



</div>

<div class="container2" style="border: hidden;
    width: 280px;
    height: 150px;
    margin-left: 470px;
        position:absolute;
    top: 540px;
    padding: 10px;
    display:inline-block;">
    <p>
       Money Machine B has one possible outcome only, always 50¢.
    </p>


        <button class="toAdd2" style="backgroundColor = white">50¢</button>
    <button class="toAdd2" style="backgroundColor = white">50¢</button>
    <button class="toAdd2" style="backgroundColor = white">50¢</button>
    <button class="toAdd2" style="backgroundColor = white">50¢</button>
    <button class="toAdd2" style="backgroundColor = white">50¢</button>
          <button class="toAdd2" style="backgroundColor = white">50¢</button>
    <button class="toAdd2" style="backgroundColor = white">50¢</button>
    <button class="toAdd2" style="backgroundColor = white">50¢</button>
    <button class="toAdd2" style="backgroundColor = white">50¢</button>
    <button class="toAdd2" style="backgroundColor = white">50¢</button>
          <button class="toAdd2" style="backgroundColor = white">50¢</button>
    <button class="toAdd2" style="backgroundColor = white">50¢</button>
    <button class="toAdd2" style="backgroundColor = white">50¢</button>
    <button class="toAdd2" style="backgroundColor = white">50¢</button>
    <button class="toAdd2" style="backgroundColor = white">50¢</button>


</div>

<div class="instructions well well-lg" style="position:absolute; top:700px;width: 900px; ">


    <p>
    Please click on the “Next” button for further instructions.
    </p>
</div>

<p>
    <input id="id_clicksmmb_ins" name="clicksmmb_ins" type="hidden" value="0"></input>
    <input id="id_clicksmma_ins" name="clicksmma_ins" type="hidden" value="0"></input>

</p>

<button class="otree-next-button btn btn-primary next-button" id="next" style="position:absolute; top:800px" disabled="true">Next</button>
{% endblock %}

{% block styles %}
<!-- define a style -->

<style type="text/css">
.toAdd {
    display:inline-block;
    background-color: white;
    width: 45px;
    padding: 0.1px;
    margin: 1px;
    font-size: 10px;
    text-align: center;
    pointer-events: none;
}
.toAdd2 {
    display:inline-block;
    background-color: white;
    width: 45px;
    padding: 0.1px;
    margin: 1px;
    font-size: 10px;
    text-align: center;
    pointer-events: none;
}
.no-click {
    pointer-events: none;
}

</style>

{% endblock %}


{% block scripts %}
<script src="{% static "Confidence_study1a/jquery-3.2.1.js" %}"></script>

<script>

<!--set up delay for the "next" button-->

function minviewtime() {
    setTimeout(function(){
    document.getElementById("next").disabled = false;
    }, 10000);
}
window.onload = minviewtime;


$('.toAdd').hide();
$('.toAdd2').hide();

<!--each click to show one sample-->

var count = 0;
var btnsDisabled = false;
$('.mma').on('click',function(){
    $('.toAdd:eq('+count+')').show(1500);
    count++;
    hello();
    delay();
});

var countb = 0;
$('.mmb').on('click',function(){
    $('.toAdd2:eq('+countb+')').show(1500);
    countb++;
    hellob();
    delay();
});

<!--record how many clicks = how many sample draws-->

   var clicks = 0;
    function hello() {
        clicks += 1;
        document.getElementById("id_clicksmma_ins").innerHTML = clicks;
        document.getElementById("id_clicksmma_ins").value = clicks;
    };


   var clicksb = 0;
    function hellob() {
        clicksb += 1;
        document.getElementById("id_clicksmmb_ins").innerHTML = clicksb;
        document.getElementById("id_clicksmmb_ins").value = clicksb;
    };

<!--on each click, 2 money machines delay for 1500 miniseconds-->

function delay(){
    document.getElementById("mma").disabled = true;
    document.getElementById("mmb").disabled = true;
    setTimeout(function() {
        document.getElementById("mma").disabled = false;
        document.getElementById("mmb").disabled = false;
    }, 1500);

};

<!--set up color for bad outcomes in sample draws-->

var samplea = document.getElementsByClassName('toAdd');
var bo = "0¢";
var i = 0;
    for(var i=0; i<samplea.length; i++) {
       if (samplea[i].innerHTML == bo) {
           samplea[i].style.backgroundColor = "lightblue";
        } else {
           samplea[i].style.backgroundColor = "white";
    }
    };

</script>

{% endblock %}