{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}

<div style="text-align: center">Instructions</div>


{% endblock %}

{% block content %}
<div class="instructions well well-lg" style="position:absolute; top:140px;width: 900px; ">

    <p>
        In this experiment you are asked to choose between two money machines. Your bonus depends on your choices.
        Each money machine's possible outcomes are clearly stated, as shown in the example below. They can be positive as well as negative.
        Sometimes they are certain, and at other times the probabilities of the outcomes are unknown.
    </p>
    <p>
        For each money machine pair you will have a “Sampling Stage” and “Decision Stage”.
        In the “Sampling Stage”, you can try out the money machines as many times as you like by clicking on them.
        Money machines can be sampled infinitely without changing the underlying outcome probabilities.
        The "Sampling Stage" has no payoff implications.
    </p>
    <p>
        An example pair of money machines is shown below.
    </p>
</div>
    <div style="
    position: absolute;
    margin-left:150px;
    top:390px;
    width:300px;
    text-align: center
    ">
    <p>
       Money Machine A
    </p>
</div>
<div style="
    position: absolute;
    margin-left:470px;
    top:390px;
    width:300px;
    text-align: center
    ">
    <p>
       Money Machine B
    </p>
</div>

<div><button type="button" id="mma" class="no-click" style="outline: grey solid 5px; text-align: left; background-color: {{ Constants.mmacolor }};
position: absolute; top:420px; height: 100px; width: 300px; font-size: 15px; margin-left:150px">
        <p id="pc2" style="line-height: 70%;"> Possible outcomes:
        <p align="right" style="margin-right:100px;line-height: 70%; ">80¢
    <p id="lineb" align="right" style="margin-right:100px; line-height: 70%; "> 0¢
    </button>
    <button type="button" id="mmb" class="no-click"
            style="outline: grey solid 5px; background-color: {{ Constants.mmbcolor }};     position: absolute;
    margin-left:470px; text-align: left;
    top:420px; height: 100px; width: 300px;font-size: 15px">
                <p id="pc2" style="line-height: 70%;"> Possible outcome:
        <p align="right" style="margin-right:100px;line-height: 70%; ">50¢
    <p id="lineb" align="right" style="margin-right:100px; visibility: hidden; line-height: 70%; "> 0¢
    </button>
</div>

<div class="container1" style="border: hidden;
    position:absolute;
    width: 280px;
    margin-left: 150px;
    top: 520px;
    height: 150px;
    padding: 10px;
    display:inline-block;">
    <p>
        Here you see different sample outcomes for Money Machine A.
    </p>


            <button  class="toAdd" style="backgroundColor = lightblue">0¢</button>
        <button  class="toAdd" style="backgroundColor = lightblue">0¢</button>
        <button  class="toAdd" style="backgroundColor = white">80¢</button>
        <button  class="toAdd" style="backgroundColor = white">80¢</button>
        <button  class="toAdd" style="backgroundColor = white">80¢</button>
        <button  class="toAdd" style="backgroundColor = white">80¢</button>
        <button  class="toAdd" style="backgroundColor = white">80¢</button>
        <button  class="toAdd" style="backgroundColor = light blue">0¢</button>
        <button  class="toAdd" style="backgroundColor = white">80¢</button>
            <button  class="toAdd" style="backgroundColor = lightblue">0¢</button>
        <button  class="toAdd" style="backgroundColor = lightblue" >0¢</button>
        <button  class="toAdd" style="backgroundColor = white">80¢</button>
        <button  class="toAdd" style="backgroundColor = white">80¢</button>
        <button  class="toAdd" style="backgroundColor = white">80¢</button>
        <button  class="toAdd" style="backgroundColor = white">80¢</button>


</div>

<div class="container2" style="border: hidden;
    width: 280px;
    height: 150px;
    margin-left: 470px;
        position:absolute;
    top: 520px;
    padding: 10px;
    display:inline-block;">
    <p>
       Money Machine B has one possible outcome only, always 50¢.
    </p>


           <button class="toAdd2" style="backgroundColor = white">50¢</button>
    <button class="toAdd2" style="backgroundColor = white">50¢</button>
    <button class="toAdd2" style="backgroundColor = white">50¢</button>
    <button class="toAdd2" style="backgroundColor = white">50¢</button>
    <button class="toAdd2" style="backgroundColor = white">50¢</button>
          <button class="toAdd2" style="backgroundColor = white">50¢</button>
    <button class="toAdd2" style="backgroundColor = white">50¢</button>
    <button class="toAdd2" style="backgroundColor = white">50¢</button>
    <button class="toAdd2" style="backgroundColor = white">50¢</button>
    <button class="toAdd2" style="backgroundColor = white">50¢</button>
          <button class="toAdd2" style="backgroundColor = white">50¢</button>
    <button class="toAdd2" style="backgroundColor = white">50¢</button>
    <button class="toAdd2" style="backgroundColor = white">50¢</button>
    <button class="toAdd2" style="backgroundColor = white">50¢</button>
    <button class="toAdd2" style="backgroundColor = white">50¢</button>


</div>

<div class="instructions well well-lg" style="position:absolute; top:670px;width: 900px; ">
    <p>
        Whenever you think you sampled enough, you can click on a “Make Decision” button:
        <button class="otree-next-button btn btn-primary next-button" style="pointer-events: none;">Make Decision</button>.
    <br>Then you will enter the “Decision Stage” in which you can make a binding money machine choice.
    </p>
    <p>
        In total, there are {{Constants.num_problemsets}} pairs of money machines.
        After you have made all your choices, we will randomly select one pair of money machines and play out your choice for that pair.
        This random selection means that you should carefully consider each choice.

    </p>
    <p>

        You start with an initial endowment of {{Constants.showupfee}}¢. The outcome from the selected money machine will be added to this initial endowment.
        Depending on whether the money machine outcome is positive or negative, the bonus you receive at the end of this HIT can be bigger or smaller than {{Constants.showupfee}}¢.
    </p>

    <p>
        Please click on the “Next” button to begin. Good luck.
    </p>

</div>

<button class="otree-next-button btn btn-primary next-button" id="next" style="position:absolute; top:950px" disabled="true">Next</button>
{% endblock %}

{% block styles %}
<!-- define a style -->

<style type="text/css">
.toAdd {
    display:inline-block;
    background-color: white;
    width: 45px;
    padding: 0.1px;
    margin: 1px;
    font-size: 10px;
    text-align: center;
    pointer-events: none;
}
.toAdd2 {
    display:inline-block;
    background-color: white;
    width: 45px;
    padding: 0.1px;
    margin: 1px;
    font-size: 10px;
    text-align: center;
    pointer-events: none;
}
.no-click {
    pointer-events: none;
}

</style>

{% endblock %}

{% block scripts %}
<script src="{% static "Confidence_study1a/jquery-3.2.1.js" %}"></script>
<script>

var num_samplea1 = {{ num_samplea_ins|json }};
var num_sampleb1 = {{ num_sampleb_ins|json }};

<!--hide the samples not drawn-->

var showsamplea = document.getElementsByClassName('toAdd');
var i = num_samplea1;
for (var i; i < showsamplea.length; i++) {
    showsamplea[i].style.display = 'none';
}


var showsampleb = document.getElementsByClassName('toAdd2');
var j = num_sampleb1;
for (var j; j < showsampleb.length; j++) {
    showsampleb[j].style.display = 'none';
}


<!--set up color for bad outcomes in sample draws-->

var samplea = document.getElementsByClassName('toAdd');
var bo = "0¢";
var i = 0;
    for(var i=0; i<samplea.length; i++) {
       if (samplea[i].innerHTML == bo) {
           samplea[i].style.backgroundColor = "lightblue";
        } else {
           samplea[i].style.backgroundColor = "white";
    }
    };

<!--set up delay for the "Next" button-->
function minviewtime() {
    setTimeout(function(){
    document.getElementById("next").disabled = false;
    }, 10000);
}
window.onload = minviewtime;

</script>


{% endblock %}
