logbook Otree confidence Study 1 Condition A

10.7.2017

settimeout for Problem set 1 for testing - done

12.7.2017

Payment has been set up for mturk


25.7.2017
Number of Problem sets changed to 10



26.08.2017
yoking works - read csv file from another folder ('yoking/yoking.csv')
requirement: Number of participants in csv file is the same with study 1b, 1c and 1d
yoking folder is the same path with app folder

6.1.2018
added 2 variables in study1a:  index and trivial
deleted in requirements_base.txt: SciPy==0.19.1
added 2 variables in study1b, c and d:  index and trivial via yoking
changed euro sign to dollar sign

9.1.2018
reduce the amount to 1/10. so $4 is changed to 40¢

10.1.2018
changed the instruction based on Ronald's input for mTurk Session
"base pay" changed to "initial endowment"

11.1.2018
updated based on Ronald's comments. refer to slides Screenshots 11Jan2018.ppt
