
{% load staticfiles otree_tags %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading" style="font-size: 20px">
        Instructions
    </h3>

    <p>
      In this experiment you are asked to choose among pairs of money machines. Your goal is to maximize your money.
    </p>

    <p>
        Each money machine has two possible outcomes, which are clearly stated.
        What you do not know is the probabilities of these outcomes.
        For each choice pair you will have “Sampling Stage” and “Decision Stage”.
        In “Sampling Stage”, you can try out the money machines as many times as you like by clicking Choice A or Choice B.
        The sampling stage has no payoff implications.
    </p>

    <p>
        After you think you sampled enough, you can press the “Make Decision” button;
        then you will enter “Decision Stage” in which you will make your final decision.
    </p>

    <p>
        There are {{Constants.num_rounds}} rounds with about 5 choice pairs each.
        After your have made all your choices, we will randomly select one pair from all your choices and play out your money machine choices for those pairs.
        The sum of those {{Constants.num_rounds}} outcomes will be added to your show-up fee of {{Constants.showupfee}} Euro, the total payment you receive at the end of the experiment.
    </p>

    <p>
        Good luck.
    </p>
</div>


 <td><button name="MMA" value="80" style="background-color: lightblue; height: 100px; width: 30%; font-size: 20px; margin-left:100px; " class="btn btn-primary btn-large">Possible outcomes		€0   |  €4</button></td>

 <td><button name="MMA" value="80" style="background-color: orange; height: 100px; width: 30%;font-size: 20px" class="btn btn-primary btn-large">Possible outcomes		€0   |  €3</button></td>



    {% next_button %}