{% extends "global/Page.html" %}
{% load otree_tags %}

{% block title %}
<div style="text-align: center">Instructions </div>
{% endblock %}

{% block content %}
<div class="instructions well well-lg" style="position:absolute; top:170px;width: 900px; ">
    <p>
        In this experiment you are asked to choose between two points machines. Your take-home money depends on your choices.
        Each points machine’s possible outcomes are <strong>the points</strong> you can earn. They are clearly stated, as shown in the example below.
        They can be positive as well as negative.
        The probability for each outcome is clearly stated.
    </p>
    <p>
    An example pair of points machines is shown below.
    </p>
</div>

    <div style="
    position: absolute;
    margin-left:100px;
    top:340px;
    width:340px;
    text-align: center
    ">
    <p>
       Points Machine A
    </p>
</div>
<div style="
    position: absolute;
    margin-left:450px;
    top:340px;
    width:340px;
    text-align: center
    ">
    <p>
       Points Machine B
    </p>
</div>

<div><button class="no-click" type="button"
            style="text-align: left; background-color: {{ Constants.mmacolor }}; position: absolute; top:360px; height: 100px; width: 340px; font-size: 15px; margin-left:100px">
    <p style="text-indent: 10px;line-height: 70%;"> Possible outcomes:
    <p style="text-indent: 120px; line-height: 70%;">8 with probability 60%
    <p id="linea" style="text-indent: 120px;     line-height: 70%;">0 with probability 40%
    </button>
    <button class="no-click" type="button"
            style="text-align: left; background-color: {{ Constants.mmbcolor }}; position: absolute; top:360px; height: 100px; width: 340px; font-size: 15px; margin-left:450px">
        <p style="text-indent: 10px;line-height: 70%;"> Possible outcome:
        <p style="text-indent: 120px; line-height: 70%;">5 with probability 100%
            <p id="lineb" style="text-indent: 120px; visibility: hidden; line-height: 70%;">0 with probability 20%
    </button>
</div>

<div class="instructions well well-lg" style="position:absolute; top:490px;width: 900px; ">


    <p>
    Please click on the “Next” button for further instructions.
    </p>
</div>

   <button class="otree-next-button btn btn-primary next-button" id="next" style="position:absolute; top:590px" disabled="true">Next</button>
{% endblock %}

{% block styles %}
<!-- define a style -->

<style type="text/css">
    .no-click {
    display:inline-block;
    width: 45px;
    padding: 0.1px;
    margin: 1px;
    font-size: 10px;
    text-align: center;
    pointer-events: none;
    background-color: white;
}



</style>

{% endblock %}

{% block scripts %}
<script>

function minviewtime() {
    setTimeout(function(){
    document.getElementById("next").disabled = false;
    }, 10000);
}
window.onload = minviewtime;
</script>


{% endblock %}