logbook Otree confidence

21.5.2017
condition A1 Round I
no randomization of problem set order
no randomization of machine A and B
realized button submit the form
button recorded
button initial value none
num_rounds set to 1

23.05.2017
in folder otree0523
changed the wording in the result page of 5 problem set. deleted instructions and moved the "thank you" note to the top

06.06.2017
randomized options for money machine A and B

15.06.2017
randomized color for money machine A and B
realized payoff by randomly chosen money machine which can be played based on probability and outcome
not yet done
    - random assign players to this condition
    - how to check payoff for each player

21.06.2017
realized shuffel
realized animation after "determine outcome" button is clicked

23.06.2017
un-needed buttons not clickable
fixed the sign of final outcome (only positive or zero)

09.07.2017
added to 7 problem sets. exact problem sets to be updated

25.07.2017
yoked version
Number of Problem sets: 10

26.08.2017
yoking works - read csv file from another folder ('yoking/yoking.csv')
requirement: Number of participants in csv file is the same with study 1b, 1c and 1d
yoking folder is the same path with app folder

20.9.2017
sweepstakes to do
1) change euro sign to points
2) reset payoff method and consolidate payoff_info, participant fee, etc.
3) add one or two more pages in the last to show the sweepstakes
4) call the sweepstakes method in a different location

14.10.2017
sweepstakes to do
1) change euro sign to points
2) reset payoff method and consolidate payoff_info, participant fee, etc.
3) add one or two more pages in the last to show the sweepstakes - done
4) call the sweepstakes method in a different location - done
