{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
<div style="text-align: center">Money Machine Pair 6/{{Constants.num_problemsets}}</div>

{% endblock %}

{% block content %}
<style>
div {
    text-align: left
}
</style>


<div class="instructions well well-lg" style="position:absolute; top:150px;width: 900px; ">

    <p>First, please use the slider to help you choose between money machines.
    </p>
    <p>When you are ready to make a binding choice, please click on your preferred money machine.
    </p>
</div>

<div style="
    position: absolute;
    margin-left:150px;
    top:280px;
    width:300px;
    text-align: center
    ">
    <p>
       Money Machine A
    </p>
</div>
<div style="
    position: absolute;
    margin-left:470px;
    top:280px;
    width:300px;
    text-align: center
    ">
    <p>
       Money Machine B
    </p>
</div>

<div><button name="mm6" value="True" disabled="true" id="mma"
            style="text-align: left;background-color: {{ Constants.mmacolor }};position: absolute; top: 310px; height: 100px; width: 300px; font-size: 15px; margin-left:150px">
            <p id="pc1" style="text-indent: 10px; line-height: 70%;">
    <p align="right" style="margin-right:100px; line-height: 70%; ">{{ player.optiona6 }}¢
    <p id="linea" align="right" style="margin-right:100px;   visibility: hidden;line-height: 70%; "> 0¢
    </button>
    <button name="mm6" value="False" disabled="true" id="mmb"
            style="text-align: left;background-color: {{ Constants.mmbcolor }}; position: absolute;
    margin-left:470px;
    top:310px; height: 100px; width: 300px;font-size: 15px">
         <p id="pc2" style="text-indent: 10px; line-height: 70%;">
    <p align="right" style="margin-right:100px; line-height: 70%; ">{{ player.optionb6 }}¢
    <p id="lineb" align="right" style="margin-right:100px;   visibility: hidden;line-height: 70%; "> 0¢
    </button>
</div>
<p>



</p>

<div class="container1" style="border: hidden;
    position:absolute;
    width: 280px;
    margin-left: 150px;
    top: 410px;
    height: 150px;
    padding: 10px;
    display:inline-block;">
    <p>
        {{player.texta6}}
    </p>

        <button  class="toAdd" id="a1s1"></button>
        <button  class="toAdd" id="a1s2"></button>
        <button  class="toAdd" id="a1s3"></button>
        <button  class="toAdd" id="a1s4"></button>
        <button  class="toAdd" id="a1s5"></button>
        <button  class="toAdd" id="a1s6"></button>
        <button  class="toAdd" id="a1s7"></button>
        <button  class="toAdd" id="a1s8"></button>
        <button  class="toAdd" id="a1s9"></button>
        <button  class="toAdd" id="a1s10"></button>
        <button  class="toAdd" id="a1s11"></button>
        <button  class="toAdd" id="a1s12"></button>
        <button  class="toAdd" id="a1s13"></button>
        <button  class="toAdd" id="a1s14"></button>
        <button  class="toAdd" id="a1s15"></button>
        <button  class="toAdd" id="a1s16"></button>
        <button  class="toAdd" id="a1s17"></button>
        <button  class="toAdd" id="a1s18"></button>
        <button  class="toAdd" id="a1s19"></button>
        <button  class="toAdd" id="a1s20"></button>
        <button  class="toAdd" id="a1s21"></button>
        <button  class="toAdd" id="a1s22"></button>
        <button  class="toAdd" id="a1s23"></button>
        <button  class="toAdd" id="a1s24"></button>
        <button  class="toAdd" id="a1s25"></button>
        <button  class="toAdd" id="a1s26"></button>
        <button  class="toAdd" id="a1s27"></button>
        <button  class="toAdd" id="a1s28"></button>
        <button  class="toAdd" id="a1s29"></button>
        <button  class="toAdd" id="a1s30"></button>
        <button  class="toAdd" id="a1s31"></button>
        <button  class="toAdd" id="a1s32"></button>
        <button  class="toAdd" id="a1s33"></button>
        <button  class="toAdd" id="a1s34"></button>
        <button  class="toAdd" id="a1s35"></button>
        <button  class="toAdd" id="a1s36"></button>
        <button  class="toAdd" id="a1s37"></button>
        <button  class="toAdd" id="a1s38"></button>
        <button  class="toAdd" id="a1s39"></button>
        <button  class="toAdd" id="a1s40"></button>
        <button  class="toAdd" id="a1s41"></button>
        <button  class="toAdd" id="a1s42"></button>
        <button  class="toAdd" id="a1s43"></button>
        <button  class="toAdd" id="a1s44"></button>
        <button  class="toAdd" id="a1s45"></button>
        <button  class="toAdd" id="a1s46"></button>
        <button  class="toAdd" id="a1s47"></button>
        <button  class="toAdd" id="a1s48"></button>
        <button  class="toAdd" id="a1s49"></button>
        <button  class="toAdd" id="a1s50"></button>
        <button  class="toAdd" id="a1s51"></button>
        <button  class="toAdd" id="a1s52"></button>
        <button  class="toAdd" id="a1s53"></button>
        <button  class="toAdd" id="a1s54"></button>
        <button  class="toAdd" id="a1s55"></button>
        <button  class="toAdd" id="a1s56"></button>
        <button  class="toAdd" id="a1s57"></button>
        <button  class="toAdd" id="a1s58"></button>
        <button  class="toAdd" id="a1s59"></button>
        <button  class="toAdd" id="a1s60"></button>
        <button  class="toAdd" id="a1s61"></button>
        <button  class="toAdd" id="a1s62"></button>
        <button  class="toAdd" id="a1s63"></button>
        <button  class="toAdd" id="a1s64"></button>
        <button  class="toAdd" id="a1s65"></button>
        <button  class="toAdd" id="a1s66"></button>
        <button  class="toAdd" id="a1s67"></button>
        <button  class="toAdd" id="a1s68"></button>
        <button  class="toAdd" id="a1s69"></button>
        <button  class="toAdd" id="a1s70"></button>
        <button  class="toAdd" id="a1s71"></button>
        <button  class="toAdd" id="a1s72"></button>
        <button  class="toAdd" id="a1s73"></button>
        <button  class="toAdd" id="a1s74"></button>
        <button  class="toAdd" id="a1s75"></button>
        <button  class="toAdd" id="a1s76"></button>
        <button  class="toAdd" id="a1s77"></button>
        <button  class="toAdd" id="a1s78"></button>
        <button  class="toAdd" id="a1s79"></button>
        <button  class="toAdd" id="a1s80"></button>
        <button  class="toAdd" id="a1s81"></button>
        <button  class="toAdd" id="a1s82"></button>
        <button  class="toAdd" id="a1s83"></button>
        <button  class="toAdd" id="a1s84"></button>
        <button  class="toAdd" id="a1s85"></button>
        <button  class="toAdd" id="a1s86"></button>
        <button  class="toAdd" id="a1s87"></button>
        <button  class="toAdd" id="a1s88"></button>
        <button  class="toAdd" id="a1s89"></button>
        <button  class="toAdd" id="a1s90"></button>
        <button  class="toAdd" id="a1s91"></button>
        <button  class="toAdd" id="a1s92"></button>
        <button  class="toAdd" id="a1s93"></button>
        <button  class="toAdd" id="a1s94"></button>
        <button  class="toAdd" id="a1s95"></button>
        <button  class="toAdd" id="a1s96"></button>
        <button  class="toAdd" id="a1s97"></button>
        <button  class="toAdd" id="a1s98"></button>
        <button  class="toAdd" id="a1s99"></button>
        <button  class="toAdd" id="a1s100"></button>



</div>

<div class="container2" style="border: hidden;
    width: 280px;
    height: 150px;
    margin-left: 470px;
        position:absolute;
    top: 410px;
    padding: 10px;
    display:inline-block;">
    <p>
       {{player.textb6}}
    </p>

       <button class="toAdd2" id="b1s1"></button>
        <button class="toAdd2" id="b1s2"></button>
        <button class="toAdd2" id="b1s3"></button>
        <button class="toAdd2" id="b1s4"></button>
        <button class="toAdd2" id="b1s5"></button>
        <button class="toAdd2" id="b1s6"></button>
        <button class="toAdd2" id="b1s7"></button>
        <button class="toAdd2" id="b1s8"></button>
        <button class="toAdd2" id="b1s9"></button>
        <button class="toAdd2" id="b1s10"></button>
        <button class="toAdd2" id="b1s11"></button>
        <button class="toAdd2" id="b1s12"></button>
        <button class="toAdd2" id="b1s13"></button>
        <button class="toAdd2" id="b1s14"></button>
        <button class="toAdd2" id="b1s15"></button>
        <button class="toAdd2" id="b1s16"></button>
        <button class="toAdd2" id="b1s17"></button>
        <button class="toAdd2" id="b1s18"></button>
        <button class="toAdd2" id="b1s19"></button>
        <button class="toAdd2" id="b1s20"></button>
        <button class="toAdd2" id="b1s21"></button>
        <button class="toAdd2" id="b1s22"></button>
        <button class="toAdd2" id="b1s23"></button>
        <button class="toAdd2" id="b1s24"></button>
        <button class="toAdd2" id="b1s25"></button>
        <button class="toAdd2" id="b1s26"></button>
        <button class="toAdd2" id="b1s27"></button>
        <button class="toAdd2" id="b1s28"></button>
        <button class="toAdd2" id="b1s29"></button>
        <button class="toAdd2" id="b1s30"></button>
        <button class="toAdd2" id="b1s31"></button>
        <button class="toAdd2" id="b1s32"></button>
        <button class="toAdd2" id="b1s33"></button>
        <button class="toAdd2" id="b1s34"></button>
        <button class="toAdd2" id="b1s35"></button>
        <button class="toAdd2" id="b1s36"></button>
        <button class="toAdd2" id="b1s37"></button>
        <button class="toAdd2" id="b1s38"></button>
        <button class="toAdd2" id="b1s39"></button>
        <button class="toAdd2" id="b1s40"></button>
        <button class="toAdd2" id="b1s41"></button>
        <button class="toAdd2" id="b1s42"></button>
        <button class="toAdd2" id="b1s43"></button>
        <button class="toAdd2" id="b1s44"></button>
        <button class="toAdd2" id="b1s45"></button>
        <button class="toAdd2" id="b1s46"></button>
        <button class="toAdd2" id="b1s47"></button>
        <button class="toAdd2" id="b1s48"></button>
        <button class="toAdd2" id="b1s49"></button>
        <button class="toAdd2" id="b1s50"></button>
        <button class="toAdd2" id="b1s51"></button>
        <button class="toAdd2" id="b1s52"></button>
        <button class="toAdd2" id="b1s53"></button>
        <button class="toAdd2" id="b1s54"></button>
        <button class="toAdd2" id="b1s55"></button>
        <button class="toAdd2" id="b1s56"></button>
        <button class="toAdd2" id="b1s57"></button>
        <button class="toAdd2" id="b1s58"></button>
        <button class="toAdd2" id="b1s59"></button>
        <button class="toAdd2" id="b1s60"></button>
        <button class="toAdd2" id="b1s61"></button>
        <button class="toAdd2" id="b1s62"></button>
        <button class="toAdd2" id="b1s63"></button>
        <button class="toAdd2" id="b1s64"></button>
        <button class="toAdd2" id="b1s65"></button>
        <button class="toAdd2" id="b1s66"></button>
        <button class="toAdd2" id="b1s67"></button>
        <button class="toAdd2" id="b1s68"></button>
        <button class="toAdd2" id="b1s69"></button>
        <button class="toAdd2" id="b1s70"></button>
        <button class="toAdd2" id="b1s71"></button>
        <button class="toAdd2" id="b1s72"></button>
        <button class="toAdd2" id="b1s73"></button>
        <button class="toAdd2" id="b1s74"></button>
        <button class="toAdd2" id="b1s75"></button>
        <button class="toAdd2" id="b1s76"></button>
        <button class="toAdd2" id="b1s77"></button>
        <button class="toAdd2" id="b1s78"></button>
        <button class="toAdd2" id="b1s79"></button>
        <button class="toAdd2" id="b1s80"></button>
        <button class="toAdd2" id="b1s81"></button>
        <button class="toAdd2" id="b1s82"></button>
        <button class="toAdd2" id="b1s83"></button>
        <button class="toAdd2" id="b1s84"></button>
        <button class="toAdd2" id="b1s85"></button>
        <button class="toAdd2" id="b1s86"></button>
        <button class="toAdd2" id="b1s87"></button>
        <button class="toAdd2" id="b1s88"></button>
        <button class="toAdd2" id="b1s89"></button>
        <button class="toAdd2" id="b1s90"></button>
        <button class="toAdd2" id="b1s91"></button>
        <button class="toAdd2" id="b1s92"></button>
        <button class="toAdd2" id="b1s93"></button>
        <button class="toAdd2" id="b1s94"></button>
        <button class="toAdd2" id="b1s95"></button>
        <button class="toAdd2" id="b1s96"></button>
        <button class="toAdd2" id="b1s97"></button>
        <button class="toAdd2" id="b1s98"></button>
        <button class="toAdd2" id="b1s99"></button>
        <button class="toAdd2" id="b1s100"></button>




</div>

<div style="text-align: center; position:absolute;width: 900px;
    top: 1120px;">

    <p>
        Based on the above sample outcomes and your slider position, you can be
        <input type="text" name="confidence6" id="rtvalue3" value="{{initialc6}}" style="width: 45px; font-weight: bold; text-align: right; border:none"><strong>% confident</strong> that
        100 fresh plays at Money Machine {{player.machine6}}
        <br>give you fewer than <input type="text" id="rtvalue1" name="riskthreshold6" value="50" style="font-weight:bold; width: 25px; text-align: right; border:none"></input>
        bad outcomes of <button id="bo3">{{bo6show}}¢</button>
        (i.e. more than <input type="text" id="goodoutcome" value="50" style="width: 25px; text-align: right; border:none"></input>
        good outcomes of <button id="go">{{go6}}¢</button> ).
    </p>


</div>

<div id="container" style="width: 900px; height: 300px; margin: 0 auto;position: absolute; top: 740px;"></div>



<input type="hidden" name="riskthreshold" id="id_riskthreshold" value="50">

<input id="range" type="range" min="0" max="100" value="50" onchange="activatemm()"  style="width: 795px; margin-left: 90px;position: absolute; top: 1040px;">

<!--<div style="text-align: center; position: absolute; top: 1070px;width: 900px; ">At most, your are willing to tolerate <strong><input type="text" id="rtvalue2" value="50" style="width: 40px; text-align: right"></input></strong> /100 as maximum probability of bad outcomes <button id="bo2">{{bo6show}}¢</button>.</div>-->


<div style="text-align: center; position: absolute; top: 1080px;width: 900px;"><strong>Maximum accepted probability of bad outcomes</strong><button id="bo2">{{bo6show}}¢</button></div>

<div style="text-align: center; position: absolute; top: 670px;width: 900px;">
    <p>
       Set the slider to the maximum probability of bad outcomes <button id="bo1">{{bo6show}}¢</button> in Money Machine {{player.machine6}} you are willing to tolerate before switching to Money Machine {{theothermachine}}.
        The graph will show you how confident you can be that the actual probability of bad outcomes is in fact lower than that.

    </p>
</div>


{% endblock %}



{% block styles %}
<!-- define a style -->
<link href="{% static "Confidence_study1d/jquery-ui/jquery-ui.min.css" %}" rel="stylesheet">
<link href="{% static "Confidence_study1d/jquery-ui/jquery-ui-slider-pips.min.css" %}" rel="stylesheet">

<style type="text/css">
.toAdd {
    display:inline-block;
    background-color: white;
    width: 45px;
    padding: 0.1px;
    margin: 1px;
    font-size: 10px;
    text-align: center;
    pointer-events: none;
}
.toAdd2 {
    display:inline-block;
    background-color: white;
    width: 45px;
    padding: 0.1px;
    margin: 1px;
    font-size: 10px;
    text-align: center;
    pointer-events: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
input[type=range]::-ms-tooltip {
    display: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -3px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
</style>

{% endblock %}


{% block scripts %}
<script src="{% static "Confidence_study1d/jquery-3.2.1.js" %}"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="{% static "Confidence_study1d/jquery-ui/jquery-ui.min.js" %}"></script>
<script src="{% static "Confidence_study1d/jquery-ui/jquery-ui-slider-pips.min.js" %}"></script>

<script>

var data = {{highcharts_series6|json}};
var samplea1 = {{ samplea6|json }};
var sampleb1 = {{ sampleb6|json }};
var num_samplea1 = {{ num_samplea6|json }};
var num_sampleb1 = {{ num_sampleb6|json }};
var bo1 = {{ bo6 |json }};
var bo1str = bo1.toString();
var euro = "$";
var cent = "¢";
var theothermachine = {{ theothermachine|json }};
var probb = {{probb6|json}};
var amounta = {{ amounta6|json }};
var amountb = {{ amountb6|json }};


(function() {
  (function(H) {
    console.log(H);
    H.SVGRenderer.prototype.symbols.callout = function(x, y, w, h, options) {
      var arrowLength = 6,
        halfDistance = 6,
        r = Math.min((options && options.r) || 0, w, h),
        safeDistance = r + halfDistance,
        anchorX = options && options.anchorX,
        anchorY = options && options.anchorY,
        path;
      path = [
        'M', x + r, y,
        'L', x + w - r, y,
        'C', x + w, y, x + w, y, x + w, y + r,
        'L', x + w, y + h - r,
        'C', x + w, y + h, x + w, y + h, x + w - r, y + h,
        'L', x + r, y + h,
        'C', x, y + h, x, y + h, x, y + h - r,
        'L', x, y + r,
        'C', x, y, x, y, x + r, y
      ];
      if (anchorX && anchorX > w) {
        path.splice(13, 3,
          'L', x + w, h / 2,
          anchorX, anchorY,
          x + w, h / 2,
          x + w, y + h - r
        );
      }
      else if (anchorX && anchorX < 0) {
        path.splice(33, 3,
          'L', x, h / 2,
          anchorX, anchorY,
          x, h / 2,
          x, y + r
        );
      } else if (anchorX && anchorX > 0 && anchorX < w) {
        path.splice(23, 3,
          'L', x, h,
          x + w/2, h,
          anchorX, anchorY,
          x + w/2, h,
          x + w, y + h
        );
      }
      return path;
    }
  })(Highcharts);
  (function (H) {
    H.wrap(H.Tooltip.prototype, 'hide', function (defaultCallback) {
    });
  }(Highcharts));

var chart = Highcharts.chart('container', {
    chart: {
        type: 'column',
        marginRight: 20,
    },
    credits: {
        enabled: false
    },
    title: {
        text: ''
    },
    subtitle: {
        text: ''
    },
    xAxis: {
        min: 0,
        max: 100,
        labels: {
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            },
            step: 10,
            format: '{value} %',
        }
    },
    yAxis: {
        min: 0,
        max: 100,
        gridLineColor: 'transparent',
        title: {
            text: '<b>Confidence</b>',
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            },
        },
        labels: {
            format: '{value} %',
            step: 4,
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            },
        }
    },
    legend: {
        enabled: false
    },
    tooltip: {
        positioner: function () {
            return { x: 80, y: 20 };
        },
        pointFormat: 'Confidence: <b>{point.y:.2f}%</b>',
        headerFormat: '',
    },
    plotOptions: {
        column: {
            states: {
                hover: {
                    color: '#3071a9'
                }
            }
        },
    },
    series: [{
        id: 'series-1',
        name: 'Posterior Probabilities',
        enableMouseTracking: false,
        data: data,
        color: '#b3e6ff',
        dataLabels: {
            enabled: false,
        }
    }],
    navigation: {
        buttonOptions: {
            enabled: false
        }
    }
});
chart.tooltip.refresh(chart.series[0].points[50]);

$('#range').bind('change mousemove', function(e) {
  var tooltip = chart.tooltip,
    points = chart.series[0].points,
    index = this.value;

  points.forEach(function(point, index) {
    points[index].setState();
  });

  tooltip.refresh(points[index]);
  points[index].setState('hover');
  document.getElementById('rtvalue3').value = points[index].y.toFixed(2);

  document.getElementById('rtvalue1').value = Number(this.value);
  <!--document.getElementById('rtvalue2').value = Number(this.value);-->
  document.getElementById('id_riskthreshold').value = Number(this.value);
  document.getElementById('goodoutcome').value = 100 - Number(this.value);
});
})();



if (samplea1.length == 0) {
    for(var i = 0; i < num_samplea1; i++){
        document.getElementById("a1s" + (i+1)).innerHTML = amounta.concat(cent);
     }
     } else {
     for(var i = 0; i < samplea1.length; i++){
        document.getElementById("a1s" + (i+1)).innerHTML = samplea1[i].concat(cent);
     }
}


if (sampleb1.length == 0) {
    for(var i = 0; i < num_sampleb1; i++){
        document.getElementById("b1s" + (i+1)).innerHTML = amountb.concat(cent);
     }
     } else {
     for(var i = 0; i < sampleb1.length; i++){
        document.getElementById("b1s" + (i+1)).innerHTML = sampleb1[i].concat(cent);
     }
}


var showsamplea = document.getElementsByClassName('toAdd');
var i = num_samplea1;
for (var i; i < showsamplea.length; i++) {
    showsamplea[i].style.display = 'none';
}


var showsampleb = document.getElementsByClassName('toAdd2');
var j = num_sampleb1;
for (var j; j < showsampleb.length; j++) {
    showsampleb[j].style.display = 'none';
}


var samplea = document.getElementsByClassName('toAdd');
var i = 0;
    for(var i=0; i<samplea.length; i++) {
       if (samplea[i].innerHTML.slice(0, -1) == bo1 || samplea[i].innerHTML.slice(0, -1) < -0.5) {
           samplea[i].style.backgroundColor = "lightblue";
        } else {
           samplea[i].style.backgroundColor = "white";
    }
    };

var sampleb = document.getElementsByClassName('toAdd2');
var i = 0;
    for(var i=0; i<sampleb.length; i++) {
       if (sampleb[i].innerHTML.slice(0, -1) == bo1 || sampleb[i].innerHTML.slice(0, -1) < -0.5) {
           sampleb[i].style.backgroundColor = "orange";
        } else {
           sampleb[i].style.backgroundColor = "white";
    }
    };

var bobutton1 = document.getElementById("bo1")
var bobutton2 = document.getElementById("bo2")
var bobutton3 = document.getElementById("bo3")
var gobutton = document.getElementById("go")
var k = theothermachine
if (k == "B") {
    bobutton1.classList.add("toAdd");
    bobutton1.style.backgroundColor = "lightblue";
    bobutton2.classList.add("toAdd");
    bobutton2.style.backgroundColor = "lightblue";
    bobutton3.classList.add("toAdd");
    bobutton3.style.backgroundColor = "lightblue";
    gobutton.classList.add("toAdd");
    gobutton.style.backgroundColor = "white";
        } else {
    bobutton1.classList.add("toAdd2");
    bobutton1.style.backgroundColor = "orange";
    bobutton2.classList.add("toAdd");
    bobutton2.style.backgroundColor = "orange";
    bobutton3.classList.add("toAdd");
    bobutton3.style.backgroundColor = "orange";
    gobutton.classList.add("toAdd");
    gobutton.style.backgroundColor = "white";
    }


var linea = document.getElementById("linea");
var lineb = document.getElementById("lineb");
var pc1 = document.getElementById("pc1");
var pc2 = document.getElementById("pc2");
if (probb == 1) {
   linea.style.visibility = "visible";
   pc1.innerHTML = "Possible outcomes:";
   pc2.innerHTML = "Possible outcome:";
   } else {
   lineb.style.visibility = "visible";
   pc2.innerHTML = "Possible outcomes:";
   pc1.innerHTML = "Possible outcome:";
    }


function activatemm() {
    document.getElementById("mma").disabled = false;
    document.getElementById("mmb").disabled = false;
}

</script>


{% endblock %}