{% extends "global/Page.html" %}
{% load otree_tags %}

{% block title %}

<div style="text-align: center">Instructions</div>


{% endblock %}

{% block content %}
<div class="instructions well well-lg" style="position:absolute; top:180px;width: 900px; ">

    <p>
        In this experiment you are asked to choose between two points machines. Your take-home money depends on your choices.
        Each points machine's possible outcomes are <strong>the points</strong> you can earn. They are clearly stated, as shown in the example below. They can be positive as well as negative.
        Sometimes they are certain, and at other times the probabilities of the outcomes are unknown.
    </p>
    <p>
        To help you choose a points machine, we provide you with the record of previous plays at each machine: these are randomly drawn samples.
        An example pair of points machines is shown below.
    </p>
</div>
    <div style="
    position: absolute;
    margin-left:150px;
    top:400px;
    width:300px;
    text-align: center
    ">
    <p>
       Points Machine A
    </p>
</div>
<div style="
    position: absolute;
    margin-left:470px;
    top:400px;
    width:300px;
    text-align: center
    ">
    <p>
       Points Machine B
    </p>
</div>

<div><button class="no-click" type="button"
            style="text-align: left; background-color: {{ Constants.mmacolor }};     position: absolute; top: 430px; height: 100px; width: 300px; font-size: 15px; margin-left:150px">
            <p id="pc1" style="text-indent: 10px; line-height: 70%;">Possible outcomes:
    <p style="text-indent: 160px;line-height: 70%; ">8
    <p id="linea" style="text-indent: 160px;  line-height: 70%; "> 0
    </button>
    <button class="no-click" type="button"
            style="text-align: left; background-color: {{ Constants.mmbcolor }};     position: absolute;
    margin-left:470px;
    top:430px; height: 100px; width: 300px;font-size: 15px">
                    <p id="pc2" style="text-indent: 10px; line-height: 70%;">Possible outcome:
    <p style="text-indent: 160px;line-height: 70%; ">5
    <p id="lineb" style="text-indent: 160px;  visibility: hidden;line-height: 70%; "> 0
    </button>
</div>
<p>



</p>

<div class="container1" style="border: hidden;
    position:absolute;
    width: 280px;
    margin-left: 150px;
    top: 530px;
    height: 150px;
    padding: 10px;
    display:inline-block;">
    <p>
        Here you see different sample outcomes for Points Machine A.
    </p>
        <button  class="no-click2" >0</button>
        <button  class="no-click2" >0</button>
        <button  class="no-click" >8</button>
        <button  class="no-click" >8</button>
        <button  class="no-click" >8</button>
        <button  class="no-click" >8</button>
        <button  class="no-click" >8</button>
        <button  class="no-click2" >0</button>
        <button  class="no-click" >8</button>


</div>

<div class="container2" style="border: hidden;
    width: 280px;
    height: 150px;
    margin-left: 470px;
        position:absolute;
    top: 530px;
    padding: 10px;
    display:inline-block;">
    <p>
       Points Machine B has one possible outcome only, always 5.
    </p>


        <button class="no-click" style="backgroundColor = white">5</button>


</div>

<div class="instructions well well-lg" style="position:absolute; top:650px;width: 900px; ">
    <p>
        Whenever you are ready to make a choice, you can select your preferred points machine by clicking on it.
    </p>

    <p>
        In total, there are {{Constants.num_problemsets}} pairs of points machines.
    </p>
    <p>
       You should consider each decision as if it were your only one.
        This is because, after you have made all your choices,
        we will randomly select one pair of points machines and play out your choice for that pair.
        The outcome from your chosen points machine will be added to, or subtracted from, your base endowment of {{Constants.showupfee}} points,
        which together make up the total points you receive at the end of the experiment.
    </p>
    <p>
        Your total points determine your chances of winning the cash prize.
        Each point works like a lottery ticket with your name on it.
        In the end, we will draw one ticket from among all participants' tickets.
        The more points/tickets you have, the more likely you are to win.
    </p>

    <p>
       Please click on the “Next” button to begin. Good luck.
    </p>

</div>

<button class="otree-next-button btn btn-primary next-button" id="next" style="position:absolute; top:910px" disabled="true">Next</button>
{% endblock %}

{% block styles %}
<!-- define a style -->

<style type="text/css">
    .no-click {
    display:inline-block;
    width: 45px;
    padding: 0.1px;
    margin: 1px;
    font-size: 10px;
    text-align: center;
    pointer-events: none;
    background-color: white;
}
    .no-click2 {
    display:inline-block;
    width: 45px;
    padding: 0.1px;
    margin: 1px;
    font-size: 10px;
    text-align: center;
    pointer-events: none;
    background-color: lightblue;
}


</style>

{% endblock %}


{% block scripts %}
<script>

function minviewtime() {
    setTimeout(function(){
    document.getElementById("next").disabled = false;
    }, 10000);
}
window.onload = minviewtime;
</script>


{% endblock %}